<h1>Log In Below:</h1>

<body>
    <form action="/sessions" method="POST">
    <label for="email">email<label>
    <input id="email" type="text" name="email"/>
    <label for="password">password<label>
    <input id="password" type="text" name="password"/>
    <button type="submit" name="Log In">Log In</button>
    </form>
</body>
