<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  name: <input type="text" name="params[:name]" id="name">
  
  <br>
  email: <input type="email" name="params[:email]" id="email">
  
  <br>
  password: <input type="password" name="params[:password]" id="password">
  
  <br>
  <input type="submit" value="Sign Up">
</form>


