<DOCTYPE! html>
<head>
  
</head>

<body>
  <h1>Welcome to Hogwarts</h1>
  <h4>Please sign up or log in to access your @hogwarts.edu email account</h4>
  <button><a href="/registrations/signup">Sign Up</a></button>
  <button name="Log In"><a href="/sessions/login">Log In</a></button>

</body>

</html>
